@import "global_variables";

.question {
    list-style: none;
    padding: $font-size-default;
    margin: $font-size-small;
    display: flex;
    flex-direction: column;
    place-content: center;
    animation: showUp alternate 80ms;

    .headline {
        overflow-wrap: anywhere;
    }

    .answers {
        display: flex;
        flex-wrap: wrap;
        place-content: flex-start;
        padding: 0;

        .answerItem {
            list-style: none;
            margin: $font-size-nano;

            @media screen and (max-width: $viewport-sm) {
                flex-grow: 1;
                display: flex;
                button {
                    flex-grow: 1;
                }
            }

            &Textarea {
                width: 100%;
            }
        }
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
